<div *ngIf="article && isDisplayed" class="modal-barrier">
    <div class="article-miniature" (keydown.ArrowRight)="printComment()" (keydown.ArrowLeft)="printComment()">
        <h1 class="article-title">{{ article.title }}</h1>
        <p class="article-author">written by E. Zola</p>
        <p class="article-body">{{ article.body }}</p>
        <button (click)="closeArticle()" class="btn btn-info upper-side right-side">
            X
        </button>

        <button (click)="previousArticle()" class="btn btn-default lower-side left-side" [disabled]="id>1?false:true">
            <i class="fa-regular fa-left"></i>
        </button>
        <button (click)="nextArticle()" class="btn btn-default lower-side right-side" [disabled]="id<listSize?false:true">
            <i class="fa-regular fa-right"></i>
        </button>
    </div>
</div>
