.article-dashboard{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap : 10px;
    padding: 20px;
}

.article-controls{
    display: grid;
    grid-template-columns: 2.5fr .5fr;
    grid-gap : 10px;
    width: 90%;
    padding-bottom: 20px;
}

.article-miniature{
    position: relative;
    border: 2px solid blue;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    cursor: pointer;
}

.article-miniature:hover {
    background-color: lightgrey;
}
